 .u-section-1 {
  background-image: none;
  min-height: 811px;
}

.u-section-1 .u-group-1 {
  min-height: 399px;
  height: auto;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 50px 30px 30px;
}

.u-section-1 .u-text-1 {
  width: 828px;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-blog-1 {
  width: 1140px;
  margin: -231px auto 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px) calc(25% - 16.5px);
  grid-gap: 22px 22px;
  min-height: 329px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-1 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 73px auto 0 10px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-2 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-5 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-image-2 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-2 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-3 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-group-4 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-9 {
  padding: 0;
}

.u-section-1 .u-image-3 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-3 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-btn-3 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-4 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-11 {
  padding: 0;
}

.u-section-1 .u-group-5 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-image-4 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.u-section-1 .u-text-5 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-4 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0;
}

.u-section-1 .u-btn-4 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-5 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-group-6 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-15 {
  padding: 0;
}

.u-section-1 .u-image-5 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-5 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-6 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-17 {
  padding: 0;
}

.u-section-1 .u-group-7 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-image-6 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-51.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-7 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-6 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-19 {
  padding: 0;
}

.u-section-1 .u-btn-6 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-7 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-group-8 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-21 {
  padding: 0;
}

.u-section-1 .u-image-7 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-41.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-7 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-btn-7 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-8 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-23 {
  padding: 0;
}

.u-section-1 .u-group-9 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-image-8 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-31.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-8 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-25 {
  padding: 0;
}

.u-section-1 .u-btn-8 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-9 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-section-1 .u-group-10 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-27 {
  padding: 0;
}

.u-section-1 .u-image-9 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-21.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-10 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-9 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-btn-9 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-10 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-29 {
  padding: 0;
}

.u-section-1 .u-group-11 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-30 {
  padding: 0;
}

.u-section-1 .u-image-10 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-11.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-11 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-10 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-31 {
  padding: 0;
}

.u-section-1 .u-btn-10 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-11 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-32 {
  padding: 0;
}

.u-section-1 .u-group-12 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-33 {
  padding: 0;
}

.u-section-1 .u-image-11 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/IMG_20220831_084350.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-12 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-11 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 24px auto 0 10px;
}

.u-section-1 .u-container-layout-34 {
  padding: 0;
}

.u-section-1 .u-btn-11 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-12 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-35 {
  padding: 0;
}

.u-section-1 .u-group-13 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-36 {
  padding: 0;
}

.u-section-1 .u-image-12 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-12 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-37 {
  padding: 0;
}

.u-section-1 .u-btn-12 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-13 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-38 {
  padding: 0;
}

.u-section-1 .u-group-14 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-39 {
  padding: 0;
}

.u-section-1 .u-image-13 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/2022-11-02_22-47-44.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-14 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-13 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-40 {
  padding: 0;
}

.u-section-1 .u-btn-13 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-14 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-41 {
  padding: 0;
}

.u-section-1 .u-group-15 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-42 {
  padding: 0;
}

.u-section-1 .u-image-14 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/2022-10-20_01-43-06.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-15 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-14 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-43 {
  padding: 0;
}

.u-section-1 .u-btn-14 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-15 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-44 {
  padding: 0;
}

.u-section-1 .u-group-16 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-45 {
  padding: 0;
}

.u-section-1 .u-image-15 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/2022-10-20_01-41-57.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-16 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-15 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-46 {
  padding: 0;
}

.u-section-1 .u-btn-15 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-16 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-47 {
  padding: 0;
}

.u-section-1 .u-group-17 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-48 {
  padding: 0;
}

.u-section-1 .u-image-16 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-5.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-17 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-16 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-49 {
  padding: 0;
}

.u-section-1 .u-btn-16 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-17 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-50 {
  padding: 0;
}

.u-section-1 .u-group-18 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-51 {
  padding: 0;
}

.u-section-1 .u-image-17 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-4.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-18 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-17 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-52 {
  padding: 0;
}

.u-section-1 .u-btn-17 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-18 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-53 {
  padding: 0;
}

.u-section-1 .u-group-19 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-54 {
  padding: 0;
}

.u-section-1 .u-image-18 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-3.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-19 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-18 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-55 {
  padding: 0;
}

.u-section-1 .u-btn-18 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-19 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-56 {
  padding: 0;
}

.u-section-1 .u-group-20 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-57 {
  padding: 0;
}

.u-section-1 .u-image-19 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-1.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-20 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-19 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 48px auto 0 10px;
}

.u-section-1 .u-container-layout-58 {
  padding: 0;
}

.u-section-1 .u-btn-19 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-20 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-59 {
  padding: 0;
}

.u-section-1 .u-group-21 {
  min-height: 338px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-60 {
  padding: 0;
}

.u-section-1 .u-image-20 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/2022-10-20_00-27-25.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-21 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-20 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-61 {
  padding: 0;
}

.u-section-1 .u-btn-20 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

.u-section-1 .u-repeater-item-21 {
  background-size: auto;
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-1 .u-container-layout-62 {
  padding: 0;
}

.u-section-1 .u-group-22 {
  min-height: 347px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-1 .u-container-layout-63 {
  padding: 0;
}

.u-section-1 .u-image-21 {
  height: 183px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  background-image: url("images/WhatsApp_Image_2022-2.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-22 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 12px 30px 0 10px;
}

.u-section-1 .u-metadata-21 {
  font-size: 0.75rem;
  transition-duration: 0.5s;
  margin: 31px auto 0 10px;
}

.u-section-1 .u-container-layout-64 {
  padding: 0;
}

.u-section-1 .u-btn-21 {
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  margin: 280px auto 0 10px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-1 .u-blog-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
    min-height: 288px;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-image-1 {
    height: 151px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-image-2 {
    height: 151px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-image-3 {
    height: 151px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-image-4 {
    height: 151px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-group-6 {
    height: auto;
  }

  .u-section-1 .u-image-5 {
    height: 151px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-group-7 {
    height: auto;
  }

  .u-section-1 .u-image-6 {
    height: 151px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-group-8 {
    height: auto;
  }

  .u-section-1 .u-image-7 {
    height: 151px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-group-9 {
    height: auto;
  }

  .u-section-1 .u-image-8 {
    height: 151px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-group-10 {
    height: auto;
  }

  .u-section-1 .u-image-9 {
    height: 151px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-group-11 {
    height: auto;
  }

  .u-section-1 .u-image-10 {
    height: 151px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-group-12 {
    height: auto;
  }

  .u-section-1 .u-image-11 {
    height: 151px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-group-13 {
    height: auto;
  }

  .u-section-1 .u-image-12 {
    height: 151px;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-group-14 {
    height: auto;
  }

  .u-section-1 .u-image-13 {
    height: 151px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-group-15 {
    height: auto;
  }

  .u-section-1 .u-image-14 {
    height: 151px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-group-16 {
    height: auto;
  }

  .u-section-1 .u-image-15 {
    height: 151px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-group-17 {
    height: auto;
  }

  .u-section-1 .u-image-16 {
    height: 151px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-group-18 {
    height: auto;
  }

  .u-section-1 .u-image-17 {
    height: 151px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-group-19 {
    height: auto;
  }

  .u-section-1 .u-image-18 {
    height: 151px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 0;
  }

  .u-section-1 .u-group-20 {
    height: auto;
  }

  .u-section-1 .u-image-19 {
    height: 151px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-group-21 {
    height: auto;
  }

  .u-section-1 .u-image-20 {
    height: 151px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 0;
  }

  .u-section-1 .u-group-22 {
    height: auto;
  }

  .u-section-1 .u-image-21 {
    height: 151px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 660px;
  }

  .u-section-1 .u-blog-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 741px;
  }

  .u-section-1 .u-image-1 {
    height: 185px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
    margin-left: 10px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 48px;
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-2 {
    height: 185px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-3 {
    height: 185px;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-4 {
    height: 185px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-5 {
    height: 185px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-6 {
    height: 185px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-7 {
    height: 185px;
  }

  .u-section-1 .u-metadata-7 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-8 {
    height: 185px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-9 {
    height: 185px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-10 {
    height: 185px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-11 {
    height: 185px;
  }

  .u-section-1 .u-metadata-11 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-12 {
    height: 185px;
  }

  .u-section-1 .u-metadata-12 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-13 {
    height: 185px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-14 {
    height: 185px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-15 {
    height: 185px;
  }

  .u-section-1 .u-metadata-15 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-16 {
    height: 185px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-17 {
    height: 185px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-18 {
    height: 185px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-19 {
    height: 185px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-image-20 {
    height: 185px;
  }

  .u-section-1 .u-metadata-20 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 276px;
    margin-left: 12px;
  }

  .u-section-1 .u-group-22 {
    min-height: 338px;
  }

  .u-section-1 .u-image-21 {
    height: 185px;
  }

  .u-section-1 .u-metadata-21 {
    margin-top: 48px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 276px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-blog-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    grid-auto-columns: calc(50% - 11px);
  }

  .u-section-1 .u-image-1 {
    height: 139px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-2 {
    height: 139px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-3 {
    height: 139px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-4 {
    height: 139px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-5 {
    height: 139px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-6 {
    height: 139px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-7 {
    height: 139px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-8 {
    height: 139px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-9 {
    height: 139px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-10 {
    height: 139px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-11 {
    height: 139px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-12 {
    height: 139px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-13 {
    height: 139px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-14 {
    height: 139px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-15 {
    height: 139px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-16 {
    height: 139px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-17 {
    height: 139px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-18 {
    height: 139px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-19 {
    height: 139px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-20 {
    height: 139px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 272px;
  }

  .u-section-1 .u-image-21 {
    height: 139px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 272px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    min-height: 363px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 320px;
  }

  .u-section-1 .u-blog-1 {
    width: 340px;
    margin-top: -232px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-image-1 {
    height: 185px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 30px;
    margin-left: 10px;
  }

  .u-section-1 .u-metadata-1 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-2 {
    height: 185px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-3 {
    height: 185px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-4 {
    height: 185px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-5 {
    height: 185px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-6 {
    height: 185px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-7 {
    height: 185px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-8 {
    height: 185px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-9 {
    height: 185px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-10 {
    height: 185px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-11 {
    height: 185px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-12 {
    height: 185px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-13 {
    height: 185px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-14 {
    height: 185px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-15 {
    height: 185px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-16 {
    height: 185px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-17 {
    height: 185px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-18 {
    height: 185px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-19 {
    height: 185px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-20 {
    height: 185px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 265px;
  }

  .u-section-1 .u-image-21 {
    height: 185px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: 265px;
  }
}

.u-section-1 .u-metadata-1,
.u-section-1 .u-metadata-1:before,
.u-section-1 .u-metadata-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-1 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-1 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-2,
.u-section-1 .u-metadata-2:before,
.u-section-1 .u-metadata-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-2 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-2 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-3,
.u-section-1 .u-metadata-3:before,
.u-section-1 .u-metadata-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-3 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-3 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-4,
.u-section-1 .u-metadata-4:before,
.u-section-1 .u-metadata-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-4 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-4 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-5,
.u-section-1 .u-metadata-5:before,
.u-section-1 .u-metadata-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-5 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-5 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-6,
.u-section-1 .u-metadata-6:before,
.u-section-1 .u-metadata-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-6 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-6 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-7,
.u-section-1 .u-metadata-7:before,
.u-section-1 .u-metadata-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-7 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-7 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-8,
.u-section-1 .u-metadata-8:before,
.u-section-1 .u-metadata-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-8 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-8 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-21,
.u-section-1 .u-metadata-21:before,
.u-section-1 .u-metadata-21 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-21 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-21 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-20,
.u-section-1 .u-metadata-20:before,
.u-section-1 .u-metadata-20 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-20 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-20 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-15,
.u-section-1 .u-metadata-15:before,
.u-section-1 .u-metadata-15 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-15 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-15 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-11,
.u-section-1 .u-metadata-11:before,
.u-section-1 .u-metadata-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-11 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-11 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-12,
.u-section-1 .u-metadata-12:before,
.u-section-1 .u-metadata-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-12 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-12 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-9,
.u-section-1 .u-metadata-9:before,
.u-section-1 .u-metadata-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-9 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-9 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-10,
.u-section-1 .u-metadata-10:before,
.u-section-1 .u-metadata-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-10 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-10 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-13,
.u-section-1 .u-metadata-13:before,
.u-section-1 .u-metadata-13 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-13 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-13 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-14,
.u-section-1 .u-metadata-14:before,
.u-section-1 .u-metadata-14 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-14 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-14 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-16,
.u-section-1 .u-metadata-16:before,
.u-section-1 .u-metadata-16 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-16 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-16 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-17,
.u-section-1 .u-metadata-17:before,
.u-section-1 .u-metadata-17 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-17 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-17 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-18,
.u-section-1 .u-metadata-18:before,
.u-section-1 .u-metadata-18 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-18 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-18 {
  opacity: 0 !important;
}

.u-section-1 .u-metadata-19,
.u-section-1 .u-metadata-19:before,
.u-section-1 .u-metadata-19 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-metadata-19 {
  opacity: 0 !important;
}

.u-container-layout.hover .u-section-1 .u-metadata-19 {
  opacity: 0 !important;
}