 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1716px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 522px;
  margin: 34px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 31px 406px 0 631px;
}

.u-section-1 .u-text-3 {
  margin: -20px 635px 0 402px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1125px;
  margin: 29px auto 0;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-4 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-5 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-6 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-7 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-8 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 112px;
  margin: -189px -8px 0 8px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-9 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-10 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-11 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-4 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-12 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-13 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-5 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-6 {
  height: auto;
  min-height: 112px;
  margin: -170px 3px 0 6px;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-14 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-15 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-16 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-7 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-17 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-18 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-8 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-9 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-4 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-19 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-20 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-21 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-10 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-22 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-23 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-11 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-12 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-layout-wrap-2 {
  width: 1125px;
  margin: 12px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 517px;
}

.u-section-1 .u-container-layout-5 {
  padding: 25px 0 18px;
}

.u-section-1 .u-text-24 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-25 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-26 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-13 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-27 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-28 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-14 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-15 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-image-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 517px;
}

.u-section-1 .u-container-layout-6 {
  padding: 25px 0 18px;
}

.u-section-1 .u-text-29 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-30 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-31 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-16 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-32 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-33 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-17 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-18 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-image-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 517px;
}

.u-section-1 .u-container-layout-7 {
  padding: 25px 0 18px;
}

.u-section-1 .u-text-34 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-35 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-36 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-19 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-37 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-38 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-20 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-21 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-image-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 517px;
}

.u-section-1 .u-container-layout-8 {
  padding: 25px 0 18px;
}

.u-section-1 .u-text-39 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-40 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-41 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-22 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-42 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-43 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-23 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-24 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-layout-wrap-3 {
  width: 553px;
  margin: 16px auto 34px 8px;
}

.u-section-1 .u-image-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-9 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-44 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-45 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-46 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-25 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-47 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-48 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-26 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-27 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-image-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
  background-position: 50% 50%;
  min-height: 518px;
}

.u-section-1 .u-container-layout-10 {
  padding: 25px 0 19px;
}

.u-section-1 .u-text-49 {
  font-size: 1.5rem;
  margin: 5px auto 0 9px;
}

.u-section-1 .u-text-50 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 9px;
}

.u-section-1 .u-text-51 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 16px 0 9px;
}

.u-section-1 .u-custom-html-28 {
  height: auto;
  min-height: 197px;
  margin: 9px 0 0 9px;
}

.u-section-1 .u-text-52 {
  font-size: 0.875rem;
  margin: 12px auto 0 9px;
}

.u-section-1 .u-text-53 {
  font-size: 0.875rem;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 19px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-29 {
  height: auto;
  min-height: 197px;
  margin: 0;
}

.u-section-1 .u-custom-html-30 {
  height: auto;
  min-height: 112px;
  width: 152px;
  margin: 0;
}

.u-section-1 .u-list-1 {
  margin: 0 235px 60px 2px;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
}

.u-section-1 .u-image-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-text-54 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-55 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-56 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-31 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-57 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-58 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-32 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

.u-section-1 .u-text-59 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-60 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-61 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-33 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-62 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-63 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-34 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-13 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-text-64 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-65 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-66 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-35 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-67 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-68 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-36 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-14 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/18916_20110825_230737.jpg");
}

.u-section-1 .u-container-layout-14 {
  padding: 30px;
}

.u-section-1 .u-text-69 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-70 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-71 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-37 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-72 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-73 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-38 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-15 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/default-image.jpg?rand=d601");
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-text-74 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-75 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-76 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-39 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-77 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-78 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-40 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-16 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/default-image.jpg?rand=d601");
}

.u-section-1 .u-container-layout-16 {
  padding: 30px;
}

.u-section-1 .u-text-79 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-80 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-81 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-41 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-82 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-83 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-42 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-image-17 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/default-image.jpg?rand=d601");
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-text-84 {
  font-size: 1.5rem;
  margin: 0 0 0 9px;
}

.u-section-1 .u-text-85 {
  font-weight: 400;
  font-size: 0.75rem;
  margin: 6px auto 0 0;
}

.u-section-1 .u-text-86 {
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 9px 37px 0 0;
}

.u-section-1 .u-custom-html-43 {
  height: auto;
  min-height: 197px;
  margin: -433px 828px 0 -806px;
}

.u-section-1 .u-text-87 {
  font-size: 0.875rem;
  width: auto;
  margin: 231px auto 0 0;
}

.u-section-1 .u-text-88 {
  font-size: 0.875rem;
  width: auto;
  margin: -16px 0 0 auto;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 21px auto 0;
  padding: 8px 46px 8px 44px;
}

.u-section-1 .u-custom-html-44 {
  height: auto;
  min-height: 197px;
  width: 280px;
  margin: -302px auto 0;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1527px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 306px;
    margin-left: 531px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 535px;
    margin-left: 302px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-10 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-5 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-15 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-17 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-8 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 456px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-19 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-20 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-21 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-22 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-23 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-11 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-layout-wrap-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-5 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-24 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-25 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-26 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-27 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-28 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-14 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-29 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-30 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-31 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-32 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-33 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-17 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-7 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-34 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-35 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-36 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-37 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-38 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-20 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-8 {
    min-height: 455px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-39 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-40 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-41 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-42 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-43 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-23 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 470px;
    margin-bottom: 32px;
    margin-left: 0;
  }

  .u-section-1 .u-image-9 {
    min-height: 457px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-44 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-45 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-46 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-47 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-48 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-26 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-image-10 {
    min-height: 457px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .u-section-1 .u-text-49 {
    width: auto;
    margin-top: 0;
    margin-right: 4px;
    margin-left: 8px;
  }

  .u-section-1 .u-text-50 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 3px;
  }

  .u-section-1 .u-text-51 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 2px;
    margin-right: 5px;
    margin-left: 10px;
  }

  .u-section-1 .u-text-52 {
    width: auto;
    margin-top: 156px;
    margin-right: 10px;
    margin-left: auto;
  }

  .u-section-1 .u-text-53 {
    width: auto;
    margin-top: 7px;
    margin-right: 10px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 13px;
  }

  .u-section-1 .u-custom-html-29 {
    min-height: 152px;
    margin-top: -243px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1547px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 196px;
    margin-left: 421px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 425px;
    margin-left: 192px;
  }

  .u-section-1 .u-image-1 {
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-2 {
    width: 208px;
    margin-top: -242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 6px;
    margin-right: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-5 {
    width: 206px;
    margin-top: -242px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    min-height: 466px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-text-14 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-18 {
    margin-top: 6px;
    margin-right: 12px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-custom-html-8 {
    width: 206px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    min-height: 9px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-21 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-11 {
    width: 167px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-5 {
    min-height: 465px;
  }

  .u-section-1 .u-text-24 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-26 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-28 {
    margin-top: 6px;
  }

  .u-section-1 .u-custom-html-14 {
    width: 206px;
    margin-top: -245px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    min-height: 465px;
  }

  .u-section-1 .u-text-29 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-31 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-33 {
    margin-top: 6px;
    margin-right: 11px;
  }

  .u-section-1 .u-custom-html-17 {
    width: 206px;
    margin-top: -248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    min-height: 465px;
  }

  .u-section-1 .u-text-34 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-36 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-38 {
    margin-top: 6px;
  }

  .u-section-1 .u-custom-html-20 {
    width: 206px;
    margin-top: -248px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    min-height: 9px;
  }

  .u-section-1 .u-text-39 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-41 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-43 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-23 {
    width: 167px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-3 {
    width: 474px;
  }

  .u-section-1 .u-text-44 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-46 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-47 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-48 {
    margin-top: 6px;
  }

  .u-section-1 .u-custom-html-26 {
    margin-right: 51px;
  }

  .u-section-1 .u-text-49 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-51 {
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-text-52 {
    margin-top: 170px;
  }

  .u-section-1 .u-text-53 {
    margin-top: 6px;
  }

  .u-section-1 .u-custom-html-29 {
    margin-top: -242px;
    margin-right: 52px;
    margin-left: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2625px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 106px;
    margin-left: 331px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 335px;
    margin-left: 102px;
  }

  .u-section-1 .u-image-1 {
    min-height: 470px;
  }

  .u-section-1 .u-custom-html-1 {
    width: 252px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-2 {
    min-height: 470px;
  }

  .u-section-1 .u-custom-html-4 {
    width: 252px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-12 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-13 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-3 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-7 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-17 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 15px;
    margin-right: 22px;
  }

  .u-section-1 .u-custom-html-8 {
    width: 167px;
  }

  .u-section-1 .u-image-4 {
    min-height: 492px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-10 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-22 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-23 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    min-height: 470px;
  }

  .u-section-1 .u-custom-html-13 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-27 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-6 {
    min-height: 518px;
  }

  .u-section-1 .u-text-31 {
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-16 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-32 {
    margin-top: 8px;
  }

  .u-section-1 .u-text-33 {
    margin-right: 10px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 15px;
  }

  .u-section-1 .u-custom-html-17 {
    width: 167px;
  }

  .u-section-1 .u-image-7 {
    min-height: 502px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-36 {
    margin-top: 0;
    margin-right: 1px;
    margin-left: 8px;
  }

  .u-section-1 .u-custom-html-19 {
    width: 252px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-37 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 15px;
  }

  .u-section-1 .u-image-8 {
    min-height: 496px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-1 .u-custom-html-22 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-42 {
    margin-top: 6px;
  }

  .u-section-1 .u-text-43 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 15px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-wrap-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-9 {
    min-height: 492px;
  }

  .u-section-1 .u-custom-html-25 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-47 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 15px;
  }

  .u-section-1 .u-custom-html-26 {
    width: 167px;
  }

  .u-section-1 .u-image-10 {
    min-height: 492px;
  }

  .u-section-1 .u-custom-html-28 {
    width: 252px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-52 {
    margin-top: 6px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: 15px;
  }

  .u-section-1 .u-custom-html-29 {
    width: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 699px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 6px;
    margin-left: 231px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 235px;
    margin-left: 2px;
  }

  .u-section-1 .u-image-1 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 19px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1rem;
    margin-top: 2px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 123px;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-3 {
    width: 152px;
    margin-top: -199px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-2 {
    min-height: 396px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-4 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-12 {
    font-size: 0.75rem;
    margin-top: 130px;
  }

  .u-section-1 .u-text-13 {
    font-size: 0.75rem;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 13px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-6 {
    width: 152px;
    margin-top: -194px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-3 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 54px;
  }

  .u-section-1 .u-text-14 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-16 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-7 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-17 {
    font-size: 0.75rem;
    margin-top: 121px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-18 {
    font-size: 0.75rem;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 18px;
    margin-right: auto;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-9 {
    margin-top: -198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    min-height: 458px;
  }

  .u-section-1 .u-text-19 {
    font-size: 1rem;
    margin-top: 54px;
  }

  .u-section-1 .u-text-21 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-10 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-22 {
    font-size: 0.75rem;
    margin-top: 121px;
  }

  .u-section-1 .u-text-23 {
    font-size: 0.75rem;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.625rem;
    margin-top: 18px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-12 {
    margin-top: -198px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 0;
    padding-bottom: 18px;
  }

  .u-section-1 .u-text-24 {
    font-size: 1rem;
    margin-top: 16px;
  }

  .u-section-1 .u-text-26 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-13 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-27 {
    font-size: 0.75rem;
    margin-top: 113px;
    margin-right: 6px;
  }

  .u-section-1 .u-text-28 {
    font-size: 0.75rem;
    margin-top: 4px;
    margin-right: 6px;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.625rem;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-15 {
    margin-top: -187px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-6 {
    min-height: 498px;
  }

  .u-section-1 .u-text-29 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-31 {
    font-size: 0.75rem;
    margin-top: 2px;
  }

  .u-section-1 .u-custom-html-16 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-32 {
    font-size: 0.75rem;
    margin-top: 116px;
  }

  .u-section-1 .u-text-33 {
    font-size: 0.75rem;
    margin-top: 4px;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.625rem;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-18 {
    margin-top: -190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-7 {
    min-height: 9px;
  }

  .u-section-1 .u-text-34 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-36 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-right: 0;
    margin-left: 9px;
  }

  .u-section-1 .u-custom-html-19 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-37 {
    font-size: 0.75rem;
    margin-top: 123px;
    margin-right: 9px;
  }

  .u-section-1 .u-text-38 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-7 {
    font-size: 0.625rem;
    margin-right: 20px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-21 {
    margin-top: -199px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-8 {
    min-height: 9px;
  }

  .u-section-1 .u-text-39 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-41 {
    font-size: 0.75rem;
    margin-top: 3px;
  }

  .u-section-1 .u-custom-html-22 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-42 {
    font-size: 0.75rem;
    margin-top: 122px;
  }

  .u-section-1 .u-text-43 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-btn-8 {
    font-size: 0.625rem;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-24 {
    margin-top: -199px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-9 {
    min-height: 9px;
  }

  .u-section-1 .u-text-44 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-46 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-25 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-47 {
    font-size: 0.75rem;
    margin-top: 123px;
  }

  .u-section-1 .u-text-48 {
    font-size: 0.75rem;
    margin-top: 5px;
    margin-right: 8px;
  }

  .u-section-1 .u-btn-9 {
    font-size: 0.625rem;
    margin-top: 13px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-26 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-27 {
    margin-top: -196px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-image-10 {
    min-height: 9px;
  }

  .u-section-1 .u-text-49 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-51 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-custom-html-28 {
    margin-left: 9px;
  }

  .u-section-1 .u-text-52 {
    font-size: 0.75rem;
    margin-top: 123px;
  }

  .u-section-1 .u-text-53 {
    font-size: 0.75rem;
    margin-top: 5px;
  }

  .u-section-1 .u-btn-10 {
    font-size: 0.625rem;
    margin-top: 13px;
    padding-right: 17px;
    padding-left: 16px;
  }

  .u-section-1 .u-custom-html-29 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-custom-html-30 {
    margin-top: -196px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-list-1 {
    margin-bottom: 32px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 556px;
  }

  .u-section-1 .u-image-11 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-11 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-54 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-55 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-56 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-57 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-58 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-32 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-image-12 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-12 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-59 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-60 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-61 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-62 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-63 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-34 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-image-13 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-13 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-64 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-65 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-66 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-67 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-68 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-36 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-image-14 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-container-layout-14 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-69 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-70 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-71 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-72 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-73 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-38 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-container-layout-15 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-74 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-75 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-76 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-77 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-78 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-40 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-container-layout-16 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-79 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-80 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-81 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-82 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-83 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-42 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-container-layout-17 {
    padding: 28px 29px;
  }

  .u-section-1 .u-text-84 {
    width: auto;
    margin-right: 11px;
    margin-left: 0;
  }

  .u-section-1 .u-text-85 {
    margin-top: 8px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-86 {
    margin-right: 38px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-87 {
    margin-left: 1px;
  }

  .u-section-1 .u-text-88 {
    margin-right: 1px;
  }

  .u-section-1 .u-custom-html-44 {
    width: 258px;
    margin-top: -297px;
  }

  .u-section-1 .u-gallery-nav-1 {
    top: 254px;
  }
}